.footer {
    width: 100%;
    /* height: 100vh; */
    height: 15vh;
    background-color: #080c25;
    color: #fff;
    /* padding-top: 180px; */
    /* position: fixed; */
    position: static;
    /* z-index: -2; */
    /* z-index: 1; */
    bottom: 0;
    left: 0;
}
.footer-info {
    font-size: 35px;
    padding: 30px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}
.footer-info > h1 {
    padding-bottom: 15px;
}
.footer-contact {
    font-size: 22px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}
.footer-sns {
    background-color: #4b5d67;
    width: 100%;
    position: absolute;
    padding: 30px 0 30px 0;
    /* bottom: 40px; */
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.sns-links {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.linkedin,
.github,
.whatsapp {
    font-size: 35px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    transition: all 0.3s ease-out;
}
.linkedin:hover,
.github:hover,
.whatsapp:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.design-by {
    font-size: 22px;
    padding-left: 50px;
}

@media only screen and (max-width: 960px) {
    .footer-info {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    .footer-contact {
        font-size: 16px;
        padding: 100px 0 30px 0;
        text-align: center;
    }
    .footer-sns {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .design-by {
        padding: 0 0 40px 0;
    }
}
